
				<md-toolbar>
				    <div class="md-toolbar-tools">
							<span>Angular Enterprise BoilerPlate</span>
				        <span flex="10"></span>
				        <button md-raised-button color="accent"  aria-label="menu" routerLink="/slider">
									Slider
				        </button>
								<button md-raised-button color="accent"  aria-label="menu" routerLink="/calender">
									Calender
							 </button>
							 <button  md-raised-button color="primary" aria-label="menu" routerLink="/product">
									Products
							 </button>
				   </div>
				</md-toolbar>
